.title-page {
    background-image: url(/HANGMAN-IMG/mega-man-x-hd-wallpaper.png);
    color: #ffffff;
}



#hang-man-x {
    background-color: transparent;
}

#start-game:hover {
    transition: .5s;
    color: #eed06f;
}



.mega-sprite {
    /* background-color: red; */
    width: 144px;
    height: 162px;
    /* border: solid black; */
    background-image: url(/HANGMAN-IMG/megaman-x-sprite-sheet-ready.png)
}

#input {
    height: 50px;
    width: 200px;
    border: none;
}

.game-page {
    background-image: url(/HANGMAN-IMG/destroyed-city.png)
}