body {
    background-color: black;
    display: flex;
    flex-flow: column;
}

/* TITLE PAGE */

.title-page {
    background: url(/HANGMAN-IMG/mega-man-x-hd-wallpaper.png) no-repeat;
    color: #ffffff;
    width: cover;
    height: 720px;
    /* display: none; */
}

#hang-man-x {
    background-color: transparent;
}

.game-start {
    font-family: 'press start 2p';
}

#start-game:hover {
    transition: .5s;
    color: #eed06f;
    width: 260px;
}

.game-start li:hover {
    transition: .5s;
    color: #eed06f;
}

/* .outer-list {
    display: none;
}

.inner-list-W {
    display: none;
}

.inner-list-P {
    display: none;
} */

.mega-sprite {
    width: 144px;
    height: 162px;
    background: url(/HANGMAN-IMG/megaman-x-sprite-sheet-ready.png);
}

/* STORY FRAGMENTS */

.sigma-monologue {
    background: black;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    display: none;
}

#sigma-walk {
    transition: 3s;
    background-color: black;
    background: url(/HANGMAN-IMG/SigmaWALK.png) no-repeat;
    width: 350px;
    height: 408px;
    color: #ffffff;
    /* visibility: hidden; */
    font-family: 'press start 2p';
    margin-left: 500px;
}

.inner-sigma {
    padding-top: 200px;
}

#sigma-challenge {
    background-color: black;
    background: url(/HANGMAN-IMG/SigmaChallenge.png) no-repeat;
    width: 580px;
    height: 463px;
    color: #ffffff;
    /* visibility: hidden; */
    display: none;
    font-family: 'press start 2p';
    margin: 150px 0px 0px 450px;
}

/* GAME PAGE */

.game-page {
    background: url(/HANGMAN-IMG/destroyed-city.png) no-repeat;
    width: 1400px;
    height: 788px;
    margin-left: 10px;
    display: none;
}

#health-bar {
    background: url(/HANGMAN-IMG/megaman-healthbar-full.png);
    width: 336px;
    height: 267px;
}

.spellZone {
    background-color: rgb(255, 0, 0, .4);
    color: dodgerblue;
    width: 800px;
    height: 200px;
    border: solid black;
    margin-top: -250px;
    margin-left: 280px;
}

#spellScreen {
    text-align: center;
}

.sprite-act {
    margin-top: -100px
}

#megaman {
    background-image: url(/HANGMAN-IMG/megaman-x-sprite-sheet-ready.png);
    width: 144px;
    height: 162px;
    margin: 150px 0 0 300px;
    z-index: 0;
}

#sigma {
    background-image: url(/HANGMAN-IMG/Sigma-cloak-on.png);
    width: 174px;
    height: 180px;
    margin: -175px 0px 0px 900px;
}

#you-lose {
    visibility: hidden;
    font-family: 'press start 2p';
    margin-left: 390px;
    margin-bottom: -200px;
}

#you-win {
    visibility: hidden;
    font-family: 'press start 2p';
    margin-left: 390px;
    margin-bottom: -100px;
    margin-top: 100px;
}

.buttonTable {
    margin-left: 330px;
}

.alphabet {
    width: 50px;
    height: 50px;
    font-size: 24px;
    box-shadow: 5px 10px;
    font-family: 'press start 2p'
}