.mega-sprite {
    /* background-color: red; */
    width: 144px;
    height: 162px;
    /* border: solid black; */
    background-image: url(/HANGMAN-IMG/megaman-x-sprite-sheet-ready.png)
}

#input {
    height: 50px;
    width: 200px;
    border: none;
}

